.main-navigation {
    z-index: 3000;
    pointer-events: none;
    padding: 0;
    margin: 0;
}

.nav-inner {
    pointer-events: auto;
    background-color: var(--bg2);
    border: none;
    display: flex;
    padding: 0;
    margin: 0;
    /* gap: 4px; */
    width: 100%;
    justify-content: space-between;
}

.nav-item {
    background: transparent;
    border: none;
    padding: 20px 5px 5px 5px;
    margin: 0;
    cursor: pointer;
    flex: 1;
    display: flex;
    /* align-items: left; */
    /* justify-content: left; */
    /* gap: 10px; */
    color: var(--main);
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: var(--font-size-base);
    font-variant: small-caps;
    line-height: 1;
    transition: all 0.1s ease;
    /* border: 2px solid transparent; */
}

.nav-item:hover {
    background: var(--ash-grey);
}

.nav-item.active {
    background: var(--main);
    color: var(--bg);
}

.nav-label {
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    margin: 0;
    line-height: 1;
    display: block;
}

.logo {
    padding: var(--paddingMid) var(--paddingLow) 0 var(--paddingLow);
    text-align: center;
    color: var(--main);
    box-sizing: border-box;
}

.nav-logo-img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

.logo-tagline {
    font-family: "Space Grotesk", sans-serif;
    font-size: var(--font-size-base);
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    line-height: 1.4;
    text-align: center;
}

.logo-subtitle {
    font-family: "Space Grotesk", sans-serif;
    font-size: var(--font-size-small);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    opacity: 0.5;
    margin: 0;
    padding: 0;
    padding-bottom: var(--paddingMid);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main-navigation {
        top: 10px;
        left: 10px;
        right: 10px;
    }

    .nav-inner {
        width: 100%;
        justify-content: space-around;
    }
}