body {
  margin: 0;
  font-family: 'mononoki', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'mononoki', monospace;
}

#root {
  width: 100%;
  height: 100vh;
}